<template name="commerceItem">
  <div class="commerce panel panel-info">
      <div class="panel-heading">
        <h4><a href="{{pathFor route='details'}}">{{nom}}</a></h4>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-3">
            <img src={{image}} alt="image" class="img-rounded" width="200px" heigth="171px">
          </div>
          <div class="col-md-9">
            <p><strong>Adresse : </strong>{{adresse}}</p>
            <p><strong>Téléphone : </strong>{{telephone}}</p>
            <p><strong>Horaires : </strong>{{horaire}}</p>
          </div>
        </div>
      </div>
    </div>
</template>
