<template name="commander">
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="alert alert-success" role="alert">
        <p>La commande a été passée avec succès !</p>
      </div>
    </div>
    <div class="col-md-9">
    </div>
  </div>
<div class="row">
  <div class="col-md-8">
    <div>
      <h3>Récapitulatif de la commande</h3>
        <p>{{menu.nom}}</p>
        <p>{{menu.description}}</p>
        <p>{{menu.prix}} €</p>
    </div>
  </div>
  <div class="col-md-4">
  </div>
</div>
</div>
</template>
